.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #352c95;
  color: white;
}

.main_container > div {
  padding: 1.6rem;
  margin: 0.8rem;
}

.text {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  background-color: #352c95;
}
