.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_container > div {
  padding: 16px;
  margin: 8px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
}
