.main_container {
  background-color: #352c95;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  padding: 4rem;
}

.main_container_1 {
  /* max-width: 70.0rem; */
  display: flex;
  justify-content: space-around;
  padding: 2.4rem;
  /* align-items: center; */
}

@media (max-width: 500px) {
  .main_container_1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}
